@import url(https://uk.allfont.net/allfont.css?fonts=courier-new);
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%; }

html,
body {
  overflow: hidden;
  background-color: #ffffff;
  font-family: 'Courier New', sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  text-rendering: optimizeLegibility; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

main {
  display: block; }

a {
  background-color: transparent;
  color: #000000;
  text-decoration: none;
  border: none; }

img {
  border-style: none; }

/* */
.section {
  background-color: #ffffff; }
  .section .slide {
    background-color: #ffffff; }
  .section .wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    margin: auto;
    max-width: 1280px;
    width: 98%; }
    @media screen and (max-width: 1023px) {
      .section .wrapper {
        flex-flow: column nowrap;
        width: 95vw; }
        .section .wrapper > .description {
          order: 2; } }
    .section .wrapper .page-info {
      padding: 40px 80px;
      max-width: 1000px;
      background-image: url(../img/bg.jpg);
      background-origin: padding-box;
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: 50% 100%; }
      @media screen and (max-width: 1023px) {
        .section .wrapper .page-info {
          padding: 10px 5px;
          background-size: 100% 100%; } }
      .section .wrapper .page-info > div {
        width: 50%; }
        @media screen and (max-width: 1023px) {
          .section .wrapper .page-info > div {
            width: 100%; } }
      .section .wrapper .page-info p {
        padding: 15px 0;
        font-size: 1.3rem; }
      .section .wrapper .page-info .italic {
        margin: 0 0 0 30px;
        font-style: italic; }
      .section .wrapper .page-info ul {
        list-style: none; }
        .section .wrapper .page-info ul li {
          padding: 5px 0;
          font-size: 1.3rem; }
    .section .wrapper .description {
      align-self: flex-end;
      text-align: right;
      font-size: 1.2em; }
    .section .wrapper img {
      width: auto;
      max-height: 90vh; }
      @media screen and (max-width: 1023px) {
        .section .wrapper img {
          width: 95vw;
          height: auto; } }
  .section .horisontal {
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-end;
    align-content: flex-end;
    margin: 30px 0 0 0; }
    .section .horisontal > .description {
      order: 2;
      align-self: flex-start;
      margin: auto; }
    .section .horisontal > img {
      margin: 0 auto 40px;
      width: 75vw;
      max-height: 80vh;
      height: auto; }

/* UI */
.prev-slide,
.next-slide {
  opacity: 0; }

.current .prev-slide,
.current .next-slide {
  opacity: 1; }

.prev-slide,
.next-slide {
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
  height: 30px;
  width: 30px;
  cursor: pointer;
  transition: all .2s ease-in-out; }

.prev-slide {
  border-left: 3px solid #000000;
  border-top: 3px solid #000000;
  left: 15px; }

.next-slide {
  border-right: 3px solid #000000;
  border-top: 3px solid #000000;
  transform: translateY(-50%) rotate(45deg);
  right: 15px; }

.prev-slide:hover {
  transform: translateY(-50%) rotate(-45deg) scale(1.1); }

.next-slide:hover {
  transform: translateY(-50%) rotate(45deg) scale(1.1); }

.nav {
  display: flex;
  margin: 10px 0; }
  .nav .nav-link {
    display: block;
    margin: 0 1em;
    list-style: none;
    cursor: pointer; }

#prev {
  position: absolute;
  font-size: 10px;
  left: 5px;
  bottom: 5px;
  z-index: 3;
  cursor: pointer; }

#next {
  position: absolute;
  font-size: 10px;
  right: 5px;
  bottom: 5px;
  z-index: 3;
  cursor: pointer; }

.dot {
  position: absolute;
  bottom: 0;
  right: 30px;
  margin: auto;
  padding: 0;
  text-align: center;
  background: #ffffff; }

.dot > li {
  color: #000000;
  font-size: 35px;
  list-style: none;
  cursor: pointer; }

.step {
  display: inline-block;
  background: #333;
  border-radius: 2px;
  padding: 10px 20px; }
